.carouselContainer {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.carouselImage {
    width: 100%;
    height: 448px;
}

.apartmentInfo {
    padding: 20px;
    border: 1px solid #ccc;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.buttonContainer button {
    font-size: 1.5rem;
    padding: 10px 20px;
}

.ajustar {
    margin-left: 50px;
    margin-right: 50px;
}